nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6vw;
  height: 75px;
  background-color: #fff;
}

nav img {
  display: flex;
  margin: auto 0;
  padding: .6rem 0;
  height: 100%;
}

nav .menu {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}

nav .menu .menu-main-link {
  color: #191347;
  align-items: center;
}

nav .menu .menu-main-link a {
  display: flex;
  align-items: center;
  padding: 1.7rem 1rem;
  height: 100%;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  color: #191347;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

nav .menu .menu-main-link a .arrow-down {
  width: 0;
  height: 0;
  margin-left: .3rem;
  border-left: .25rem solid transparent;
  border-right: .25rem solid transparent;
  border-top: .25rem solid;
}

nav .menu .menu-main-link a:hover {
  background: #f2f2f2;
  color: #bc004c;
}

nav .menu .menu-main-link:last-child {
  display: flex;
  list-style-type: none;
}

nav .menu .menu-main-link:last-child .menu-ticket a {
  padding: .5rem 1rem;
  background-color: #bc004c;
  color: #fff;
}

nav .menu .menu-main-link:last-child .menu-ticket a:hover {
  background: #a30042;
}

nav .menu .menu-main-link:last-child .menu-lang a {
  margin: 1rem;
  padding: .3rem;
  border: 3px solid #e6e6e6;
}

nav .menu .menu-main-link:last-child .menu-lang a:hover {
  background: 3px solid #f2f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1600px;
}

header {
  position: relative;
  z-index: 2;
  display: block;
  margin-top: 75px;
  background: url("../images/header/bg-header.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
}

header .header-title {
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
  border-bottom: 3px solid #fff;
}

footer {
  position: relative;
  z-index: 2;
  background: url("../images/footer/bg-footer.webp") top center;
  background-size: cover;
  padding-top: 1rem;
  overflow: hidden;
}

footer .triangles {
  position: absolute;
  bottom: -3rem;
  left: -3rem;
}

footer .copyright {
  position: relative;
  z-index: 5;
  margin: 0 6vw;
  line-height: 300%;
  font-size: 0.75rem;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .copyright span {
  text-transform: uppercase;
}

footer .box-container {
  display: grid;
  grid-template-areas: 'box-1 box-2 box-3 box-4 box-5';
  grid-template-columns: repeat(5, 1fr);
  margin: 0 6vw 3rem;
  padding-bottom: 3rem;
}

footer .box-container [class*='box-'] .box-title {
  font-size: 1rem;
  padding: 1.5rem 0 .5rem;
  color: #fff;
  text-transform: uppercase;
}

footer .box-container [class*='box-'] ul li {
  list-style-type: none;
}

footer .box-container [class*='box-'] ul li a {
  font-size: .9rem;
  font-weight: 300;
  color: #22b5eb;
  text-decoration: none;
}

footer .box-container [class*='box-'] ul li a:hover {
  text-decoration: underline;
}

footer .box-container .box-5 .newsletter p {
  display: inline-block;
  color: #22b5eb;
  text-align: center;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid #22b5eb;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

footer .box-container .box-5 .newsletter p:hover {
  color: #fff;
  background-color: #22b5eb;
}

footer .box-container .box-5 .socials {
  font-size: .75rem;
  width: 300px;
}

footer .box-container .box-5 .socials-icon {
  display: inline-block;
  padding: .1rem;
  margin: .5rem;
  border-radius: .2rem;
  float: left;
}

footer .box-container .box-5 .socials-icon [class*='btn-'] {
  padding: .2rem .4rem;
  margin: .2rem;
  border: 0;
  border-radius: .2rem;
  color: #fff;
  cursor: pointer;
}

footer .box-container .box-5 .socials-icon [class*='btn-'] i, footer .box-container .box-5 .socials-icon [class*='btn-'] span {
  padding: .1rem .2rem;
}

footer .box-container .box-5 .socials-icon [class*='btn-']:hover {
  opacity: .8;
}

footer .box-container .box-5 .socials-icon .btn-linkedin {
  background-color: #007bb6;
}

footer .box-container .box-5 .socials-icon .btn-twitter {
  background-color: #00aced;
}

footer .box-container .box-5 .socials-icon .btn-youtube {
  background-color: #bb0000;
}

footer .box-container .box-5 .socials-icon .btns-facebook .btn-like, footer .box-container .box-5 .socials-icon .btns-facebook .btn-share {
  background-color: #3b5998;
}

/*# sourceMappingURL=style.css.map */